.box-shadow {
  background-image: linear-gradient(transparent 0%, #94ac57 0%);
  background-repeat: no-repeat;
  background-size: 100%;
}

.pointY {
  color: #dcc46d;
}

.pointG {
  color: #94ac57;
}

hr {
  background-color: #ffffff;
  margin: 13% auto 5%;
  width: 100%;
  border: 0;
  height: 1px;
}

.swiper-slide {
  font-family: LIFEPLUS;
  color: #ffffff;
  font-weight: 500;
}

.swiper-slide .content-wrapper {
  margin: 0 auto 20%;
  position: relative;
}

.swiper-slide .content-wrapper h1 {
  font-size: 48px;
  margin: 0 auto;
  color: transparent;
  font-size: 36px;
}

@media only screen and (max-width: 600px) {
  .swiper-slide .content-wrapper h1 {
    font-size: 11vw;
  }
}

.swiper-slide .content-wrapper h2 {
  margin: 0 auto;
  font-weight: 500;
  font-size: 24px;
}

@media only screen and (max-width: 600px) {
  .swiper-slide .content-wrapper h2 {
    font-size: 7vw;
  }
}

.swiper-slide .content-wrapper h2.big {
  font-size: 38px;
}

@media only screen and (max-width: 600px) {
  .swiper-slide .content-wrapper h2.big {
    font-size: 8vw;
  }
}

.swiper-slide .content-wrapper h3 {
  font-weight: 500;
  margin: 0 auto;
  line-height: 1.65;
}

.swiper-slide .content-wrapper p {
  line-height: 1.61;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .swiper-slide .content-wrapper p {
    font-size: 4vw;
  }
}

.swiper-slide .content-wrapper p.qt {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .swiper-slide .content-wrapper p.qt {
    font-size: 6vw;
  }
}

.swiper-slide .content-wrapper p.qt span {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .swiper-slide .content-wrapper p.qt span {
    font-size: 6vw;
  }
}

.swiper-slide .content-wrapper span {
  font-size: 16px;
}

.swiper-slide .content-wrapper span.cf {
  display: block;
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .swiper-slide .content-wrapper span.cf {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 600px) {
  .swiper-slide .content-wrapper span {
    font-size: 4vw;
  }
}

.swiper-slide .content-wrapper.first {
  margin: 0 auto;
  padding: 0;
}

.swiper-slide .content-wrapper.first .sub {
  position: relative;
  margin-bottom: 3%;
}

.swiper-slide .content-wrapper.first h3 {
  margin-bottom: 5%;
}

.swiper-slide .content-wrapper.first h1 {
  -webkit-text-stroke: 1px #dcc46d;
}

.swiper-slide .content-wrapper.first .img-wrapper {
  width: 100%;
  margin: 25% auto 0;
}

.swiper-slide .content-wrapper.first .img-wrapper img {
  width: 70%;
  height: auto;
}

.swiper-slide .content-wrapper .frm {
  width: auto;
  height: 100%;
  padding: 40% 20px;
  text-align: initial;
}

.swiper-slide .content-wrapper .frm.bk1 {
  background-image: url(../0A0029/assets/3-2frame@2x.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.swiper-slide .content-wrapper .frm .des {
  padding: 0 20px;
}

.swiper-slide .content-wrapper.cw2 span {
  color: #000;
  font-weight: bold;
}

.swiper-slide .content-wrapper.back {
  margin: 0 auto;
  background-size: 100% 100%;
  height: 100%;
  align-items: center;
  display: flex;
}

.swiper-slide .content-wrapper.back .back-d {
  height: auto;
  text-align: center;
  width: 100%;
  margin: 0 auto 20%;
}

.swiper-slide .content-wrapper .bx {
  border: 1px solid #fff;
  margin: 7% auto;
  width: 85%;
  padding: 5px;
}

.swiper-slide .content-wrapper .img-c {
  margin: 10% auto;
  position: relative;
  width: 85%;
}

.swiper-slide .content-wrapper .img-b {
  margin: 10% auto;
  position: relative;
  width: 25%;
}

.swiper-slide .content-wrapper .img-t {
  margin: 10% auto;
  position: relative;
  width: 35%;
}

.swiper-slide .content-wrapper .img-m {
  margin: 15% auto;
  position: relative;
  width: 50%;
}

.swiper-slide .content-wrapper a {
  background-color: #fff;
  color: #000;
  font-size: 20px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  font-weight: bold;
}
