@charset "UTF-8";

* {
    box-sizing: border-box;
}

// 클리어픽스
@mixin clearfix() {
    *zoom: 1;
    &:after {
        content: '';
        clear: both;
        display: block;
    }
}

$mobile: "only screen and (max-width: 600px)"; //529

$content-width: 600px;
$t_size: 16px;
$headerColor : #fff;

$defaultColor : #000;
$pointColor : #57b876;
$infoColor : #fff;

body {
    word-wrap: break-word;
    word-break: keep-all;
    font-family: LIFEPLUS;
    background: #eee;
    font-size: $t_size;
    box-sizing: border-box;
    color: #fff;
    article {
        position: absolute;
        width: 100%;
        height : 1000px;
        top : 50%;
        left : 50%;
        transform: translate(-50%, -50%);
    }
    @media #{$mobile} {
        background: #fff;
        article { 
            height : auto;
            // height : 1000px;
            top : 0%;
            left : 0%;
            transform: translate(-0%, -0%);
        }
    }
}

.hidden {
    height: 100%;
    min-height: 100%;
    overflow: hidden !important;
}

header {
    width: $content-width;
    position: fixed;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background: none;
    // padding: 5px 2px;
    background: #222;
    @media #{$mobile} {
        width: 100%;
    }
}


main {
    display: block;
    // letter-spacing: 0px;

    &.start {
        .startPage { display: block; }
        .quizPage { display: none; }
        .loadingPage { display: none; }
        .resultPage { display: none; }
    }

    &.quiz {
        .startPage { display: none; }
        .quizPage { display: block; }
        .loadingPage { display: none; }
        .resultPage { display: none; }
    }

    &.loading {
        .startPage { display: none; }
        .quizPage { display: none; }
        .loadingPage { display: block; }
        .resultPage { display: none; }
    }
    &.result {
        .startPage { display: none; }
        .quizPage { display: none; }
        .loadingPage { display: none; }
        .resultPage { display: block; }
    }


    button.defaultBtn {
        position: relative;
        display: block;
        z-index: 10;
        background: $defaultColor;
        color: #fff;
        font-size: 17px;
        line-height: 1.5;
        border-radius: 100px;
        padding: 15px 100px;
        margin: 5px auto;
        transition: background .3s ease-out;

        &:hover{
            background: $defaultColor / 1.5;
        }
    }

    section {
        position : relative;
        width: $content-width;
        // min-height: inherit;
        height: inherit;
        margin: 0 auto;
        background : #fff;
        overflow: hidden;
        text-align: center;

        @media #{$mobile} {
            width: 100%;
        }
        p {
            color: #fff;
        }
        
        button.startBtn {
            &.dimd {
                cursor: default;
                background-color: #606060;
                color: #A5A5A5;
            }

            // &:hover {
            //     // color: #fff;
            // }
        }
        
        &.startPage {
            background : $pointColor;
            
            .titleWrap {
                position : relative;
                padding: 10vh 0 0;
                z-index : 2;
                color: $defaultColor;
                span {
                    color : #fff;
                    font-size: 15px;
                    border-radius: 20px;
                    padding: 4px 18px;
                    border : 1px solid #fff;
                }
                h1 {
                    font-size: 40px;
                    color : #fff;
                    letter-spacing : 1px;
                }
                .imageWrap {
                    position: relative;
                    img {
                        width: 80%;
                        position: absolute;
                        top:-40px;
                        left:50%;
                        transform : translate(-50%, 0);
                    }
                }
            }
            .startBtn {
                position: fixed;
                bottom : 30px;
                left : 50%;
                transform : translate(-50%, 0);
            }
        }

        &.quizPage {
            position: relative;
            // .infoWrap {
            //     position : relative;
            //     width: $content-width;
            //     background : $defaultColor;
            //     // margin-top: 34px;
                
            //     p {
            //         padding : 20px 0;
            //         font-size : 14px;
            //     }
            //     @media #{$mobile}{
            //         width : 100%;
            //     }
            // }
            // .subTitle {
            //     position: absolute;
            //     width: 100px;16
            //     top: 14px;
            //     right: 10px;
            // }

            .pageNumWrap {
                position: absolute;
                width: $content-width;
                background : #333;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0);

                @media #{$mobile}{
                    width: 100%;
                }
                
                .bar {
                    width: 0%;
                    background: $pointColor;
                    position: absolute;
                    height: 100%;
                    transition : width .4s ease-out;
                }
                p {
                    position: relative;
                    padding : 16px 0;
                    font-size : 14px;
                    font-weight: bold;
                    color: #fff;
                    // .pageNum {

                    // }
                    @media #{$mobile}{
                        padding : 15px 0;
                        font-size : 14px;
                    }
                }
                
            }

            .questionWrap {
                position : relative;
                .question {
                    position: absolute;
                    left: 50%;
                    transform : translate(-50%, 0);
                    text-align: center;
                    width: 500px;
                    padding: 12vh 0 0;
                    visibility: hidden;
                    opacity: 0;
                    z-index: 1;
                    transition-delay: 0s;

                    @media #{$mobile} {
                        width: 100%;
                        padding : 18vw 5vw;
                        // text-align: left;
                    }

                    &.active {
                        visibility: visible;
                        opacity: 1;
                        z-index: 10;
                        // transition-delay: .5s;
                    }

                    .index {
                        display: inline;
                        font-weight: bold;
                        font-size: 12px;
                        // border: 1px solid $defaultColor;
                        color: #fff;
                        background-color: $pointColor;
                        padding: 2px 10px;
                        text-align: center;
                        border-radius : 50px;
                    }

                    .title {
                        font-size: 22px;
                        font-weight: bold;
                        line-height: 1.5;
                        padding: 0 2px;
                        margin-top: 14px;
                        color: $defaultColor;
                        // text-align : left;
                        @media #{$mobile} {
                            font-size: 22px;
                            line-height: 1.3;
                            text-align : center;
                        }
                    }

                    .optionWrap {
                        margin-top: 40px;
                        @media #{$mobile} {
                            margin-top: 32px;
                        }

                        button.option {
                            position : relative;
                            display: inline-block;
                            padding: 22px;
                            font-size: 15px;
                            line-height: 1.5rem;
                            text-align: center;
                            // border: 1px solid #e4e4e4;
                            background-color: #f3f3f3;
                            border-radius: 33px;
                            margin-bottom: 20px;
                            cursor: pointer;
                            width: 100%;
                            color: $defaultColor;
                            transition: background .4s ease, color .3s ease;
                            // font-weight: 100;
                            font-weight: 500;

                            @media #{$mobile} {
                                // text-align: left;
                                padding: 5vw 5vw;
                            }
                            &:after {
                                content : "";
                                width: 15px;
                                height: 12px;
                                position: absolute;
                                top: calc(50% - 6px);
                                right : 22px;
                                z-index : 2;
                                background: url(../image/icon-investment-check.svg) center center / cover no-repeat;
                                opacity: 0;
                                transition: opacity .3s ease-out;
                            }

                            &:hover, &.on {
                                color: #fff;
                                font-weight: bold;
                                
                                &:after { 
                                    opacity: 1;
                                }
                                background : $defaultColor;
                            }
                            &.dimd {
                                color: #555;
                            }
                        }
                    }
                }
            }
        }

        &.loadingPage {
            background : $pointColor;
            .titleWrap {
                position : relative;
                padding: 10vh 0 0;
                z-index : 2;
                color: $defaultColor;
                
                h2 {
                    font-size: 40px;
                    color : #fff;
                    letter-spacing : 1px;
                    animation : loadingAni 1s ease-in-out infinite;
                }
                @keyframes loadingAni {
                    from {
                        opacity: .1;
                    }
                    40% {
                        opacity: 1;
                    }
                    to {
                        opacity : .1;
                    }
                }

                .imageWrap {
                    position: relative;
                    img {
                        width: 70%;
                        position: absolute;
                        top:20px;
                        left:50%;
                        transform : translate(-50%, 0);
                    }
                }
            }
        }
    }
}



.resultPage {
    padding : 50px 0 0;
    overflow : auto;

    .titleWrap {
        position : relative;
        padding: 50px 0 10px;
        z-index : 2;
        color: $defaultColor;
        span {
            color : #000;
            font-size: 15px;
            border-radius: 20px;
            padding: 4px 18px;
            border : 1px solid #000;
        }
        h4 {
            margin:0;
            padding : 25px 0 8px;
        }
        h2 {
            font-size: 35px;
            color : #000;
            letter-spacing : 1px;
            margin: 0 0 24px;
            padding: 0;
        }
        img {
            width: 60%;
        }
    }

    button {
        margin-top : 100px;
    }
    // p {
    //     color : #000;
    //     margin : 20px;
    // }
    .infoWrap {
        background-color: $pointColor;
        // padding: 
        .infoInnerWrap {
            padding: 30px 50px 0;
            @media #{$mobile} {
                padding: 30px 22px 0;
            }
            h5 {
                font-size : 15px;
                padding : 0 5px 4px;
                margin : 20px 0 30px;
                position : relative;
                z-index: 1;
                background-image: linear-gradient(transparent 45%, #6ec74e 0);
                background-repeat: no-repeat;
                display: inline-block;
                // &:before {
                //     content : "";
                //     position : absolute;
                //     height: 14px;
                //     background-color: #6ec74e;
                //     width: 100%;
                //     z-index: 0;
                // }
            }
            .textWrap {
                background-color: #fff;
                border-radius: 10px;
                padding: 24px 20px;
                overflow: hidden;
                position: relative ;
                @media #{$mobile} {
                    padding: 20px 20px;
                }

                h4 {
                    margin:0;
                    padding : 20px 0 8px;
                    color: #000;
                    font-size : 13px;
                }
                h2 {
                    font-size: 24px;
                    color : #000;
                    letter-spacing : 1px;
                    margin: 0 0 24px;
                    padding: 0;
                }

                ul {
                    // padding: 24px 0;
                    margin: 0;
                    padding : 0;
                    display: inline-block;
                    // line-height: ;0p
                    li{
                        color: $pointColor;
                        font-size: 13px;
                        font-weight: bold;
                        text-align: left;
                        line-height: 2;
                        // margin-bottom : 10px;
                    }
                }
                p {
                    font-size : 13px;
                    color: #000;
                    line-height: 2;
                    font-weight: bold;
                    span {
                        font-style: none;
                        color: $pointColor;
                        border-bottom: 1px;
                        text-decoration: underline;
                    }
                }
                
                em.bg {
                    position: absolute;
                    width: 100%;
                    height : 100%;
                    background-color: #f3f3f3;
                    left: 50%;
                    top: 40%;
                    transform: translate(-50%, 0);
                    border-radius: 50%;
                    
                }
                img.car {
                    position: relative;
                    width: 60%;
                    z-index: 10;

                    @media #{$mobile} {
                        width: 70%;
                    }
                }
            }
            .restartBtn {
                position: relative;
                display: inline-block;
                margin : 50px auto;
                font-size: 17px;
                background: none;
                border : 1px solid #fff;
                padding: 15px 60px; 
                border-radius: 100px;
                cursor : pointer;
                &:-webkit-any-link {
                    color: #fff;
                }
                em {
                    top: 3px;
                    position: relative;
                    left: 10px;
                    width: 17px;
                    height: 17px;
                    display: inline-block;
                    background: url(../image/refresh.svg) no-repeat;
                    transition : all .3s ease-in-out;
                }
                &:hover {
                    em {
                        transform: rotate(180deg);
                    }
                }
            }
        }
        
    }
    
}
.shareBtnWrap {
    background-color: #464646;
    p {
        padding: 45px 0 0;
        font-size: 15px;
    }
    .ico_sns {
        margin : 0 auto;
        padding : 30px 0 60px;
        display: flex;
        justify-content: center;
        list-style:none;
        li {
            a {
                display: block;
                width: 40px;
                height: 40px;
                margin : 0 15px;
                background: url(../image/snsicon.png) 0 0/cover no-repeat;

                &.facebook {
                    background: url(../image/snsicon.png) -40px 0/cover no-repeat;
                }

                &.twitter {
                    background: url(../image/snsicon.png) -80px 0/cover no-repeat;
                }

                &.url {
                    background: url(../image/snsicon.png) -120px 0/cover no-repeat;
                }
                input {
                    position: absolute;
                    left : -200%;
                }
            }
            color: #fff;
            font-size: 9px;
            line-height: 26px;
        }
    }
    // height: 300px;
}