@font-face {
    font-family: LIFEPLUS;
    src: local(LIFEPLUS-Medium), url(assets/LIFEPLUS-Medium.woff2) format("woff2"), url(assets/LIFEPLUS-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: LIFEPLUS;
    src: local(LIFEPLUS-Bold), url(assets/LIFEPLUS-Bold.woff2) format("woff2"), url(assets/LIFEPLUS-Bold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    height: 100%;
    /* Center slide text vertically */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overscroll-behavior: none;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
    /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}

body,
div {
    margin: 0;
    padding: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

img {
    width: 100%;
}

.img_round {
    border-radius: 4px !important;
    border-color: #eee;
}

.contents_1_2 {
    width: 46px;
    height: 27px;
    position: absolute;
    left: 28px;
    bottom: 100px;
    background-color: white;
    border-radius: 20px;
}

.tip_cell {
    width: 91px;
    height: 27px;
    position: fixed;
    left: 28px;
    top: 171px;
    border: 1px solid white;
    border-radius: 20px;
    margin-bottom: 20px;
}

.tip_contents {
    font-family: LIFEPLUS;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 5px 12px 6px 12px;
}

.sub-tag-cell {
    display: flex;
    position: fixed;
    left: 28px;
    /* bottom: 10%; */
    top: 722px;
}

.sub-tag-contents {
    font-family: LIFEPLUS;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-right: 12px;
}

.sub-date-cell {
    display: flex;
    position: fixed;
    right: 28px;
    top: 722px;
}

.sub-date-contents {
    font-family: LIFEPLUS;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(255, 255, 255, 0.5);
}

.wrap_cover {
    position: fixed;
    width: 100%;
    z-index: 0;
    top: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    /* overflow: auto;
    -webkit-overflow-scrolling: touch; */
}

.cover_item {
    width: 100%;
    height: 100vh;
    max-height: none !important;
    position: relative;
    overflow: hidden;
}

.link_item {
    display: "block";
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.cover_image {
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* #link_cover_full {
  overflow: hidden;
} */

.stroke_link-active {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333333 !important;
}

.stroke_link {
    border: 1px solid white;
    width: 200px !important;
    height: 200px !important;
    margin: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0 !important;
    left: 0;
    right: 0;
    font-family: LIFEPLUS;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.cover_inner {
    padding: 0 !important;
    display: block;
    background-color: #000;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.cover_cell {
    z-index: -1;
    width: 700px;
    right: 50%;
}

.wrap_body_frame {
    margin-top: 100vh;
    overflow: hidden;
    background: #fff;
    z-index: 10;
    position: relative;
}

.contents_1_2_1 {
    width: 22px;
    height: 16px;
    object-fit: contain;
    font-family: LIFEPLUS;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin: 5px 12px 6px 12px;
}

.contents_1 {
    width: 100%;
    height: auto;
    position: relative;
}

.contents_1_1 {
    width: 327px;
    height: 87px;
    font-family: LIFEPLUS;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    position: fixed;
    top: 218px;
    margin-left: 28px;
    margin-right: 28px;
    opacity: 1;
    z-index: 11;
}

.contents_1_1 > p {
    margin: 0;
}

.contents_title_1 {
    margin: 31px 28px 40px 28px;
    width: 327px;
    height: 26px;
    font-family: LIFEPLUS;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.contents_banner_1 {
    margin: 0 28px 37px 28px;
    height: auto;
}
.contents_banner_2 {
    margin: 60px 28px 30px 28px;
    height: auto;
}
.contents_banner_3 {
    margin: 60px 28px 30px 28px;
    height: auto;
}
.contents_banner_4 {
    margin: 60px 28px 19px 28px;
    height: auto;
}
.contents_banner_5 {
    margin: 60px 28px 19px 28px;
    height: auto;
}
.contents {
    margin: 16px 28px 16px 28px;
    height: auto;
}

.contents:last-child {
    margin-bottom: 60px;
}

.contents_title_2 {
    margin: 10px 28px 20px 28px;
    height: auto;
}
.contents_title_3 {
    margin: 30px 28px 20px 28px;
    height: auto;
}
.contents_title_4 {
    margin: 19px 28px 18px 28px;
    height: auto;
}
.contents_title_5 {
    margin: 19px 28px 18px 28px;
    height: auto;
}

.text_basic {
    font-family: LIFEPLUS;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #666666;
}
.text_bold {
    font-family: LIFEPLUS;
    font-size: 19px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    color: #000000;
}

.button_1 {
    width: 100%;
    height: 60px;
    background-color: #000000;
    color: #fff;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: LIFEPLUS;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
}

.b_contents {
    margin: 60px 28px 0 28px;
}

.box-shadow {
    background-image: linear-gradient(transparent 0%, #fcfd54 0%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 1.5s ease-in-out;
}

.box-shadow-active {
    background-size: 100% 100%;
}

.basic_foot {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    object-fit: contain;
    background-color: rgba(255, 255, 255);
    z-index: 20;
    /* padding-bottom: calc(constant(safe-area-inset-bottom) + 20px);
    padding-bottom: calc(env(safe-area-inset-bottom) + 20px); */
}

.basic_link_foot {
    position: sticky;
    bottom: 0;
    display: none;
    width: 100%;
    background-color: rgba(255, 255, 255);
    height: auto;
    object-fit: contain;
    background-color: "transparent";
    z-index: 50;
}

.sticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: fixed;
    bottom: 0;
    /* padding-bottom: calc(constant(safe-area-inset-bottom) + 20px);
    padding-bottom: calc(env(safe-area-inset-bottom) + 20px); */
}

.progress-indicator {
    position: absolute;
    /* top:0;
  left:0; */
    height: 1px;
    width: 100%;
    overflow: hidden;
}

.progress-bar {
    -webkit-transition: width 0.2s ease-out;
    -o-transition: width 0.2s ease-out;
    transition: width 0.2s ease-out;
    background: black;
    height: 1px;
    max-width: 100%;
}

.heart_active {
    content: url("assets/basic_foot_heart_fill.png");
}

.heart_white_active {
    content: url("assets/card_foot_heart_fill.png");
}

@media (max-width: 340px) {
    .contents_1_1 > p {
        font-size: 20px;
    }
    .text_bold {
        font-size: 16px;
    }

    .contents_title_1 {
        font-size: 18px;
    }

    .text_basic {
        font-size: 14px;
    }
}
