#lottie4 {
    position: absolute;
    width: 95%;
    height: auto;
    left: 0;
    right: 0;
    bottom: 39%;
    margin: auto;
    z-index: 1;
}

#lottie5 {
    position: absolute;
    width: 95%;
    height: auto;
    left: 0;
    right: 0;
    bottom: 39%;
    margin: auto;
}

#lottie6 {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    bottom: 31%;
    margin: auto;
    z-index: 1;
}

#lottie7 {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    bottom: 31%;
    margin: auto;
    z-index: 1;
}
