@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: LIFEPLUS;
  src: url(./../assets/fonts/LIFEPLUS-Medium.woff2);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: fallback;
}

@font-face {
  font-family: LIFEPLUS;
  src: url(./../assets/fonts/LIFEPLUS-Bold.woff2);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-display: fallback;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --padding-base-horizontal: 28px;
  --padding-container-base: 56px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  * {
    user-select: none;
    -webkit-touch-callout: none;
  }

  html {
    height: -webkit-fill-available;
  }

  body {
    height: -webkit-fill-available;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.375rem;
  }
  h2 {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 2.125rem;
  }
  h3 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
  }
  h4 {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.75rem;
  }
  h5 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.625rem;
  }
  h6 {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.375rem;
  }
}

body {
  height: 100vh;
}

main {
  height: 100vh;
}

button:hover {
  -webkit-appearance: none;
  background: #000;
}

.p-container {
  width: 100%;
  height: 100%;
  margin: auto;
}

.mx-container {
  max-width: calc(100% - var(--padding-container-base));
}

.px-container {
  padding: 0 var(--padding-base-horizontal);
}

.py-section {
  padding: 20px 0;
}

.p-section--inner {
  padding: 50px 0;
}

.swiper {
  min-height: 260px;
  width: 100%;
}

.slide-img {
  min-height: 160px;
  height: 100%;
  width: 100%;
  margin: 1rem auto;
}

.slide-img img {
  height: 100%;
  width: 100%;
}

.swiper-wrapper {
  padding-bottom: 20px;
}

/* 선택자를 길게 작성을 해야 적용된다 */
.swiper-button-prev,
.swiper-button-next {
  width: 32px;
  height: 20px !important;
  background: url('./../assets/Chips.png') no-repeat;
  background-size: contain;
  top: var(--swiper-pagination-top, auto) !important;
}

.swiper-button-next {
  right: var(--swiper-navigation-sides-offset, 28px) !important;
  left: auto;
}

.swiper-button-prev {
  transform: rotate(180deg);
  left: var(--swiper-navigation-sides-offset, 28px) !important;
  right: auto;
}

.swiper-button-next::after {
  width: 32px;
  height: 20px;
  visibility: hidden;
  content: '';
}

.swiper-button-prev::after {
  visibility: hidden;
  content: '';
}

.swiper-pagination {
  color: #333333;
  font-size: 0.8rem;
  text-align: center;
  bottom: var(--swiper-pagination-bottom, 4px);
}

#nprogress .bar {
  top: 70px !important;
  box-shadow: none !important;
  display: block;
  margin-bottom: 1rem;
}
#nprogress .peg {
  display: none !important;
}
