.swiper-slide {
  font-family: LIFEPLUS;
  color: #ffffff;
}

.swiper-slide .content-wrapper {
  margin: 0 auto 20%;
  position: relative;
}

.swiper-slide .content-wrapper.first {
  margin: 0 auto;
}

.swiper-slide .content-wrapper .title {
  width: 60%;
}

.swiper-slide .content-wrapper .title-img {
  margin-top: 30%;
  width: 80%;
}

.swiper-slide .content-wrapper h3 {
  color: #d8c67a;
  font-weight: 500;
  margin: 13% auto;
}

.swiper-slide .content-wrapper h5 {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .swiper-slide .content-wrapper h5 {
    font-size: 5vw;
  }
}

.swiper-slide .content-wrapper h6 {
  font-size: 33px;
  font-weight: bold;
  line-height: 1.33;
  margin: 3% auto 20%;
  color: #98ab61;
}

@media only screen and (max-width: 600px) {
  .swiper-slide .content-wrapper h6 {
    font-size: 6vw;
  }
}

.swiper-slide .content-wrapper h6.yellow {
  color: #d8c67a;
  margin-bottom: 30%;
}

.swiper-slide .content-wrapper p {
  font-size: 22px;
  color: #ffffff;
  font-family: LIFEPLUS;
  font-weight: 500;
  line-height: 1.61;
}

@media only screen and (max-width: 600px) {
  .swiper-slide .content-wrapper p {
    font-size: 4.5vw;
  }
}

.swiper-slide .content-wrapper p.cf {
  font-size: 12px;
  text-align: initial;
}

@media only screen and (max-width: 600px) {
  .swiper-slide .content-wrapper p.cf {
    font-size: 3vw;
  }
}

.swiper-slide .content-wrapper p.cf.org {
  text-align: right;
  margin-bottom: 20%;
}

.swiper-slide .content-wrapper p.cf.ast {
  padding: 0 8%;
}

.swiper-slide .content-wrapper span {
  color: #d8c67a;
}

.swiper-slide .content-wrapper span.green {
  color: #98ab61;
}

.swiper-slide .content-wrapper .img-2 {
  width: 85%;
}

.swiper-slide .content-wrapper .img-3 {
  width: 85%;
  margin: 0 auto 17%;
}

.swiper-slide .content-wrapper .img-4 {
  width: 80%;
  margin: 0 auto 10%;
}

.swiper-slide .content-wrapper .img-5 {
  width: 60%;
  margin: 0% auto 10%;
}

.swiper-slide .content-wrapper .img-6 {
  width: 40%;
  margin: 0% auto 10%;
}

.swiper-slide .content-wrapper .img-6.sec {
  width: 50%;
}

.swiper-slide .content-wrapper .img-7 {
  margin: 10% auto 0;
  width: 85%;
}

.swiper-slide .content-wrapper .img-8 {
  margin: 10% auto 20%;
  width: 85%;
}

.swiper-slide .content-wrapper hr {
  margin: 13% auto 5%;
  width: 85%;
}

.swiper-slide .content-wrapper button {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid;
  position: relative;
  top: 0;
  left: 0;
  transform: initial;
  padding: 8px;
  height: auto;
  width: 75%;
  margin: 30% auto 0;
}
