$mobile: "only screen and (max-width: 600px)"; //529

.swiper-slide {
    .content-wrapper {
        margin: 0 auto 20%;
        position: relative;

        &.first {
            margin: 0 auto;
        }

        .title {
            width: 70%;
        }

        .title-img {
            margin-top: 30%;
            width: 70%;
        }

        h6 {
            font-size: 33px;
            font-weight: bold;
            font-family: LIFEPLUS;
            color: #ffffff;
            line-height: 1.33;
            margin: 0;

            @media #{$mobile} {
                font-size: 7vw;
            }
        }

        p {
            font-size: 22px;
            color: #ffffff;
            font-family: LIFEPLUS;
            font-weight: 500;
            line-height: 1.61;

            @media #{$mobile} {
                font-size: 4.5vw;
            }
        }

        span {
            color: #d8c67a;
        }

        .img-2 {
            width: 85%;
            margin-top: 30%;
        }

        .img-3 {
            width: 85%;
            margin: 15% auto 10%;
        }

        .img-4 {
            width: 50%;
            margin: 20% auto 10%;
        }
    }
}
