.swiper-slide .content-wrapper {
  margin: 0 auto;
  position: relative;
}

.swiper-slide .content-wrapper.first {
  margin: 0 auto;
}

.swiper-slide .content-wrapper .title {
  width: 70%;
}

.swiper-slide .content-wrapper .title-img {
  margin-top: 30%;
  width: 70%;
}

.swiper-slide .content-wrapper h6 {
  font-size: 2rem;
  font-weight: bold;
  font-family: LIFEPLUS;
  color: #ffffff;
  line-height: 1.33;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .swiper-slide .content-wrapper h6 {
    font-size: 7vw;
  }
}

.swiper-slide .content-wrapper p {
  font-size: 22px;
  color: #ffffff;
  font-family: LIFEPLUS;
  font-weight: 500;
  line-height: 1.61;
}

@media only screen and (max-width: 600px) {
  .swiper-slide .content-wrapper p {
    font-size: 4.5vw;
  }
}

.swiper-slide .content-wrapper span {
  color: #d8c67a;
}

.swiper-slide .content-wrapper .img-2 {
  width: 85%;
  margin-top: 20%;
}

.swiper-slide .content-wrapper .img-3 {
  width: 70%;
  margin: 10% auto;
}

.swiper-slide .content-wrapper .img-4 {
  width: 50%;
  margin: 10% auto;
}
