.swiper-slide {
  color: #ffffff;
  font-weight: 500;
}

.swiper-slide .content-wrapper {
  margin: 0 auto;
  position: relative;
}

.swiper-slide .content-wrapper h1 {
  font-size: 48px;
  margin: 0 auto;
  color: transparent;
  font-size: 36px;
}

@media only screen and (max-width: 600px) {
  .swiper-slide .content-wrapper h1 {
    font-size: 11vw;
  }
}

.swiper-slide .content-wrapper h1 span {
  color: #dcc46d;
  font-size: 36px;
}

@media only screen and (max-width: 600px) {
  .swiper-slide .content-wrapper h1 span {
    font-size: 11vw;
  }
}

.swiper-slide .content-wrapper h2 {
  margin: 0 auto;
  line-height: 1.65;
  font-weight: 500;
  font-size: 24px;
}

@media only screen and (max-width: 600px) {
  .swiper-slide .content-wrapper h2 {
    font-size: 7vw;
  }
}

.swiper-slide .content-wrapper h2.big {
  font-size: 38px;
}

@media only screen and (max-width: 600px) {
  .swiper-slide .content-wrapper h2.big {
    font-size: 8vw;
  }
}

.swiper-slide .content-wrapper h3 {
  font-weight: 500;
  margin: 0 auto;
  line-height: 1.65;
}

.swiper-slide .content-wrapper p {
  line-height: 1.61;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .swiper-slide .content-wrapper p {
    font-size: 4vw;
  }
}

.swiper-slide .content-wrapper p.qt {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .swiper-slide .content-wrapper p.qt {
    font-size: 6vw;
  }
}

.swiper-slide .content-wrapper p.qt span {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .swiper-slide .content-wrapper p.qt span {
    font-size: 6vw;
  }
}

.swiper-slide .content-wrapper span {
  font-size: 16px;
}

.swiper-slide .content-wrapper span.cf {
  display: block;
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .swiper-slide .content-wrapper span.cf {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 600px) {
  .swiper-slide .content-wrapper span {
    font-size: 4vw;
  }
}

.swiper-slide .content-wrapper .pointY {
  color: #dcc46d;
}

.swiper-slide .content-wrapper .pointG {
  color: #94ac57;
}

.swiper-slide .content-wrapper.first {
  margin: 0 auto;
  padding: 0;
}

.swiper-slide .content-wrapper.first .sub {
  position: relative;
}

.swiper-slide .content-wrapper.first h1 {
  -webkit-text-stroke: 1px #dcc46d;
}

.swiper-slide .content-wrapper.first .img-wrapper {
  margin: 0;
  position: relative;
  left: 0;
  width: 100%;
  height: 200px;
  padding: 34px 0;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
}

.swiper-slide .content-wrapper.first .img-wrapper img {
  margin: 0;
  width: 85%;
  height: auto;
  position: absolute;
  left: 0;
}

.swiper-slide .content-wrapper .img-c {
  margin: 5% auto;
  position: relative;
  width: 65%;
}

.swiper-slide .content-wrapper .img-b {
  margin: 10% auto 0;
  position: relative;
  width: 65%;
}

.swiper-slide .content-wrapper .img-t {
  margin: 5% auto;
  position: relative;
  width: 60%;
}

.swiper-slide .content-wrapper .img-m {
  margin: 25% auto;
  position: relative;
  width: 60%;
}

.swiper-slide .content-wrapper .img-tn {
  margin: 0 auto 10%;
  width: 60%;
}

.swiper-slide .content-wrapper .img-tnb {
  margin: 0 auto 10%;
  width: 65%;
}

.swiper-slide .content-wrapper a {
  background-color: #fff;
  color: #000;
  font-size: 20px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  font-weight: bold;
}
