$mobile: "only screen and (max-width: 600px)"; //529
$pointColorG: #94ac57;
$pointColorY: #dcc46d;
$basicColor: #ffffff;

$mobile-sm: "only screen and (max-width: 360px)";

@media #{$mobile-sm} {
  :root {
    font-size: 14px;
  }
}

.swiper-slide {
    font-family: LIFEPLUS;
    color: $basicColor;
    font-weight: 500;

    .content-wrapper {
        margin: 0 auto;
        position: relative;

        h1 {
            font-size: 3em;
            margin: 0 auto;
            color: transparent;
        }

        h2 {
            margin: 0 auto;
            line-height: 1.65;
            font-weight: 500;
            &.pointy {
                color: $pointColorY;
            }
            &.pointg {
                color: $pointColorG;
                margin: 0 auto;
                font-weight: bold;
            }
        }

        h3 {
            font-weight: 500;
        }

        p {
            line-height: 1.61;

            &.cf {
                font-size: 0.5rem;
                color: #898989;
            }
        }

        span {
            color: $pointColorY;
            &.pointg {
                color: $pointColorG;
            }
        }

        &.first {
            margin: 0 auto;

            h1 {
                -webkit-text-stroke: 1px $pointColorY;
            }
            img {
                width: 80%;
                margin-top: 25%;
            }
        }

        .contents {
            margin: 20% auto;

            h2 {
                margin: 0 auto;
            }
        }

        .contents2 {
            margin: 18% auto;
        }

        .img5-2 {
            width: 60%;
            margin-bottom: 20%;
        }

        .img5-3 {
            margin: 10% auto;
            width: 65%;
        }

        .img5-4 {
            margin: 10% auto;
            width: 90%;
        }

        .img5-5 {
            margin: 5% auto;
            width: 65%;
        }

        .img5-6 {
            margin: 20% auto;
            width: 65%;
        }

        &.back {
            margin: 0 auto;
            background-size: 100% 100%;
            height: 100%;
            align-items: center;
            display: flex;
        }

        .back-d {
            height: auto;
            text-align: center;
            width: 100%;
            margin: 0 auto;
        }

        .frame {
            background-color: $basicColor;
            border-radius: 20px;
            padding: 6% 0;
            margin: 7% auto;

            p {
                color: #000000;
            }

            .half-highlight {
                color: #000000;
                background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #9fad6e 50%);
            }
        }

        a {
            background-color: #fff;
            color: #000;
            font-size: 20px;
            height: 60px;
            text-align: center;
            vertical-align: middle;
            justify-content: center;
            align-items: center;
            width: 100%;
            display: flex;
            font-weight: bold;
        }
    }
}
