.swiper-slide {
  font-family: LIFEPLUS;
  color: #ffffff;
  font-weight: 500;
}

.swiper-slide .content-wrapper {
  margin: 0 auto 20%;
}

.swiper-slide .content-wrapper h1 {
  font-size: 3em;
  margin: 0 auto;
  color: transparent;
}

.swiper-slide .content-wrapper h2 {
  margin-top: 0;
  font-weight: 500;
}

.swiper-slide .content-wrapper h2.pointy {
  color: #dcc46d;
}

.swiper-slide .content-wrapper h2.pointg {
  color: #94ac57;
  margin: 0 auto;
  font-weight: bold;
}

.swiper-slide .content-wrapper h3 {
  font-weight: 500;
}

.swiper-slide .content-wrapper p {
  line-height: 1.61;
}

.swiper-slide .content-wrapper span {
  color: #dcc46d;
}

.swiper-slide .content-wrapper span.pointg {
  color: #94ac57;
}

.swiper-slide .content-wrapper.first {
  margin: 0 auto;
}

.swiper-slide .content-wrapper.first h1 {
  -webkit-text-stroke: 1px #dcc46d;
}

.swiper-slide .content-wrapper.first img {
  width: 80%;
  margin-top: 25%;
}

.swiper-slide .content-wrapper .contents {
  margin: 40% auto;
}

.swiper-slide .content-wrapper .contents h2 {
  margin: 0 auto;
}

.swiper-slide .content-wrapper .contents2 {
  margin: 18% auto;
}

.swiper-slide .content-wrapper .img5-2 {
  width: 60%;
  margin-bottom: 20%;
}

.swiper-slide .content-wrapper .img5-3 {
  margin: 20% auto;
  width: 65%;
}

.swiper-slide .content-wrapper .img5-4 {
  margin: 20% auto;
  width: 90%;
}

.swiper-slide .content-wrapper .img5-5 {
  margin: 10% auto;
  width: 75%;
}

.swiper-slide .content-wrapper .img5-6 {
  margin: 35% auto;
  width: 75%;
}

.swiper-slide .content-wrapper .frame {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 6% 0;
  margin: 15% auto;
}

.swiper-slide .content-wrapper .frame p {
  color: #000000;
}

.swiper-slide .content-wrapper .frame .half-highlight {
  color: #000000;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #9fad6e 50%);
}

.swiper-slide .content-wrapper a {
  background-color: #fff;
  color: #000;
  font-size: 20px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  font-weight: bold;
}
