* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-touch-callout: none; /* Safari Touch */
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Edge*/
    user-select: none; /* Future-proof*/
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: LIFEPLUS;
    src: local(LIFEPLUS OTF Medium), url(assets/LIFEPLUS-OTF-Medium.otf), url(assets/LIFEPLUS-Medium.ttf);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: LIFEPLUS;
    src: local(LIFEPLUS OTF Bold), url(assets/LIFEPLUS-OTF-Bold.otf);
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: LIFEPLUS;
    src: local(LIFEPLUS OTF Light), url(assets/LIFEPLUS-OTF-Light.otf), url(assets/LIFEPLUS-Light.ttf);
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: LIFEPLUS-BODY;
    src: local(LIFEPLUS-BODY-OTF-Light), url(assets/LIFEPLUS-BODY-OTF-Light.otf), url(assets/LIFEPLUS-BODY-Light_Hinted.ttf);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: LIFEPLUS-BODY;
    src: local(LIFEPLUS-BODY-OTF-Medium), url(assets/LIFEPLUS-BODY-OTF-Medium.otf), url(assets/LIFEPLUS-BODY-Medium_Hinted.ttf);
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

html,
body {
    width: 100%;
    height: 100%;

    /* Center slide text vertically */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overscroll-behavior: none;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
}

body {
    overflow-x: hidden;
    margin: auto;
    padding: 0;
    max-width: 450px;
}

body,
div {
    margin: 0;
    padding: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

img {
    width: 100%;
}

.img_round {
    border-radius: 4px !important;
    border-color: #eee;
}

.title_wrap {
    padding: 20% 0 0;
    margin: 0 auto;
}

.title {
    font-family: LIFEPLUS;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #000000;
    text-align: center;
    margin: 0;
}

.section {
    font-family: LIFEPLUS;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #666666;
}

.main_section {
    padding: 30px 20px 50px 20px;
    margin: auto;
}

.range_container {
    padding: 6% 0;
}

.range_title {
    font-family: LIFEPLUS;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666;
}

.slider_container {
    width: 100%;
    height: 100%;
    padding: 4px 0;
    margin: 19% auto;
    position: relative;
}

.mark_tip {
    display: inline-block;
    font-family: LIFEPLUS;
    font-size: 11px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.salarymarks_tips .mark_tip:nth-of-type(1) {
    position: absolute;
    left: 31%;
}

.salarymarks_tips .mark_tip:nth-of-type(2) {
    position: absolute;
    left: 58%;
}

.depositmarks_tips .mark_tip:nth-of-type(1) {
    position: absolute;
    left: 7%;
}

.depositmarks_tips .mark_tip:nth-of-type(2) {
    position: absolute;
    left: 24%;
}

.depositmarks_tips .mark_tip:nth-of-type(3) {
    position: absolute;
    left: 45%;
}

.depositmarks_tips .mark_tip:nth-of-type(4) {
    position: absolute;
    left: 64%;
}

.depositmarks_tips .mark_tip:nth-of-type(5) {
    position: absolute;
    left: 86%;
}

.__range-output-square {
    height: 20px;
    width: 50px;
    background-color: #000000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    z-index: 1;
    transform: translate(-50%, -50%);
    bottom: 100%;
    left: 10%;
    font-family: LIFEPLUS;
    font-size: 11px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}
.__range-output-square:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #000000;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: 96%;
    left: 50%;
    margin-left: -10px;
    margin-top: -1px;
}

.output-salary {
    position: absolute;
    top: -88%;
}

.output-deposit {
    position: absolute;
    top: -87%;
}

.slider {
    z-index: 5;
    width: 90%;
    -webkit-appearance: none;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.slider:hover.slider::-webkit-slider-thumb {
    -webkit-box-shadow: 1px 1px 10px #000000;
    -moz-box-shadow: 1px 1px 10px #000000;
    box-shadow: 1px 1px 10px #000000;
}
.slider:hover.slider::-moz-slider-thumb {
    -webkit-box-shadow: 1px 1px 10px #000000;
    -moz-box-shadow: 1px 1px 10px #000000;
    box-shadow: 1px 1px 10px #000000;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #fff;
    border: 2px solid #737373;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    margin-top: -8px;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #fff;
    border: 2px solid #737373;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    margin-top: -8px;
}
.slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    background: #737373;
    border: none;
    border-radius: 3px;
}

.slider::-moz-track {
    width: 100%;
    height: 10px;
    background: #737373;
    border: none;
    border-radius: 3px;
}

.slider::-ms-track {
    height: 5px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
}
.slider::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #737373;
}

.tickmarks {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    width: 88%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.tickmarks p {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1px;
    background: #666;
    height: 16px;
    line-height: 40px;
    margin: 2px 0 20px 0;
}

.contents_container {
    overflow: hidden;
}

.result_wrapper {
    padding: 15% 0;
    padding: 85px 20px 0 39px;
}

.result_container {
    background: #000000;
    border-radius: 6px;
    padding: 20px;
    font-family: LIFEPLUS;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #ffffff;
}

.result_container_active {
    animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#per_tax,
#tax_deduction_amt {
    color: #6dceac;
}

.result_section span {
    font-weight: bold;
    font-size: 16px;
}

#per_tax {
    width: 28px;
    display: inline-block;
}

.result_section_tip {
    font-family: LIFEPLUS;
    font-size: 15px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    color: #000000;
    border-top: 1px solid #f5f5f5;
    margin: 37px 0 50px 0;
    padding: 16px;
}

@keyframes slide-top {
    0% {
        transform: translateY(200px);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#per_tax {
    margin: 3px;
}
.btn_confirm {
    width: 85%;
    height: 7.5%;
    background-color: #000000;
    font-family: LIFEPLUS;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 3% 0;
    border: 0;
}

.swiper-plus-slide {
    background: #f7f7f7;
    z-index: 2;
}

.plus_tip_container {
    width: 96%;
    padding: 85px 0;
}

.swiper-result-container {
    width: 100%;
    height: 100%;
    /* background: #fff; */
    z-index: 2;
}
.swipe-direction {
    border: 0;
    background: transparent;
    font-family: LIFEPLUS;
    font-size: 11px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #000000;
    position: relative;
}

.right-direction {
    bottom: 3px;
    float: right;
}

.left-direction {
    bottom: -37px;
    padding-left: 20px;
    float: left;
}

.result_txt {
    font-family: LIFEPLUS;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #000000;
    padding: 0 20px;
    margin: 0;
}

table {
    margin: 30px auto;
    border-collapse: collapse;
    font-family: LIFEPLUS;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
}
td,
th {
    padding: 6px 16px;
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
}

th {
    font-weight: bold;
    font-size: 11px;
}

.table_caution {
    font-family: LIFEPLUS;
    font-size: 12px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    padding: 0 20px;
}

.table_caution .caution_title {
    font-weight: bold;
    margin: 0;
}

.table_caution .caution_section {
    color: #737373;
    font-weight: bold;
}

.benefit_section {
    padding: 50px 20px 50px 20px;
    font-family: LIFEPLUS;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #000000;
}

.benefit_section p:nth-of-type(1) {
    font-weight: bold;
    font-size: 22px;
}

.benefit_section span {
    font-weight: bold;
}

.square_wrapper {
    display: flex;
    margin: 35px auto;
    margin-top: 50px;
    margin-bottom: 20px;
    justify-items: center;
}

.square_wrapper .basic_square {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    background-color: #3db087;
    font-family: LIFEPLUS;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #ffffff;
    z-index: 3;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    position: relative;
}

.square_wrapper .add_square {
    height: 100px;
    border-radius: 6px;
    background-color: #6dceac;
    font-family: LIFEPLUS;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    position: relative;
    left: -30%;
    z-index: -1;
    opacity: 0;
}

.add_square_active {
    animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scale-up-hor-left {
    0% {
        z-index: -1;
        opacity: 0;
        width: 0px;
    }
    100% {
        left: -1%;
        z-index: 1;
        opacity: 1;
        width: 230px;
    }
}

.square_tip {
    font-family: LIFEPLUS;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #737373;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 15px 0;
}

.square_tip_active {
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation-delay: 0.3s;
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

.pine_section {
    padding: 50px 20px 0 20px;
    font-family: LIFEPLUS;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #000000;
}

.pine_section p:nth-of-type(1) {
    font-size: 22px;
    font-weight: bold;
}

.pine_section p:not(:first-of-type) {
    margin: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

#banner_swiper {
    height: 300px;
}

.pine-slider-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 50px;
    overflow: hidden;
}

.swiper-banner-container {
    overflow: visible;
}

.swiper-banner-container .swiper-slide {
    width: 100px;
    height: 200px;
    background-size: cover;
    border-radius: 6px;
}

.background {
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    border-radius: 6px;
}

.swiper-banner-container .swiper-slide-active {
    width: 100%;
    height: 200px;
    transform: scale(1.2);
}

.swiper-slide-active .background {
    background-color: transparent;
    transform: scale(1.2);
}

:root {
    --swiper-theme-color: #000000;
}

.graph_section {
    font-family: LIFEPLUS;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #000000;
}

.graph_description {
    padding: 50px 20px 20px 20px;
}

.graph_description p:not(:nth-of-type(1)) {
    margin: 0;
}

.graph_description p:nth-of-type(1) {
    font-size: 21px;
    font-weight: bold;
}

#chart_div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    /* padding: 50px 0; */
}

#line_chart {
    position: relative;
}

.stock_card {
    border-radius: 10px;
    border: none;
    position: relative;
    width: 50px;
    height: 100px;
    /* bottom: 290px; */
    /* left: 95px; */
    animation: slide-tr 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.bond_card {
    border-radius: 10px;
    border: none;
    position: relative;
    width: 50px;
    height: 100px;
    /* left: 161px;
    bottom: 251px; */
    animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-tr {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}
@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}

.final_section {
    padding: 100px 0;
}

.stroke_link-active {
    animation-name: hvr-back-pulse;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333333 !important;
}

.stroke_link {
    border: 1px solid #000000;
    width: 150px;
    height: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: LIFEPLUS;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    /* transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    transition-duration: 0.5s;
    transition-property: color, background-color; */
}

@media (min-width: 750px) {
    body {
        max-width: 450px;
        margin: 0 auto;
    }
}
