@charset "UTF-8";
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
  /* Safari Touch */
  -webkit-user-select: none;
  /* Webkit */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Edge*/
  user-select: none;
  /* Future-proof*/
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: LIFEPLUS;
  src: local(LIFEPLUS OTF Medium), url(assets/LIFEPLUS-OTF-Medium.otf), url(assets/LIFEPLUS-Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: LIFEPLUS;
  src: local(LIFEPLUS OTF Bold), url(assets/LIFEPLUS-OTF-Bold.otf);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: LIFEPLUS;
  src: local(LIFEPLUS OTF Light), url(assets/LIFEPLUS-OTF-Light.otf), url(assets/LIFEPLUS-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: LIFEPLUS-BODY;
  src: local(LIFEPLUS-BODY-OTF-Light), url(assets/LIFEPLUS-BODY-OTF-Light.otf), url(assets/LIFEPLUS-BODY-Light_Hinted.ttf);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: LIFEPLUS-BODY;
  src: local(LIFEPLUS-BODY-OTF-Medium), url(assets/LIFEPLUS-BODY-OTF-Medium.otf), url(assets/LIFEPLUS-BODY-Medium_Hinted.ttf);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  word-break: keep-all;
  /* Center slide text vertically */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overscroll-behavior: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
}

body {
  background-color: #e7e7e7;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #fff;
  }
}

body main {
  width: 550px;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  body main {
    width: 100%;
  }
}

body,
div {
  margin: 0;
  padding: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

img {
  width: 100%;
}

.img_round {
  border-radius: 4px !important;
  border-color: #eee;
}

#main_modal {
  display: none;
  width: 250px;
  height: auto;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 3px;
  font-family: LIFEPLUS;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #000000;
  text-align: center;
}

#main_modal .modal_txt {
  width: 100%;
  height: 87px;
  justify-content: center;
  align-items: center;
  display: flex;
}

#main_modal .modal_close_btn {
  position: relative;
  background: #000;
  color: #fff;
  width: 100%;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
}

.title_wrap {
  margin: 0 auto;
}

.title_wrap h1 {
  font-family: LIFEPLUS;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.4;
  color: #000000;
  text-align: center;
}

.description {
  margin: 10% 0 1%;
}

@media only screen and (max-width: 600px) {
  .description {
    margin: 4vh 0 2vh;
  }
}

.description p {
  font-family: LIFEPLUS;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #666666;
  margin: 0 auto;
  text-align: center;
}

.main_section {
  padding: 20% 40px 10%;
  margin: auto;
  background-color: #fff;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .main_section {
    min-height: 100vh;
    padding: 20% 20px 15%;
  }
}

.range_container {
  padding: 9% 30px 6%;
}

@media only screen and (max-width: 600px) {
  .range_container {
    padding: 5% 30px 5%;
  }
}

.range_title {
  font-family: LIFEPLUS;
  font-size: 15px;
  font-weight: bold;
  color: #666;
}

@media only screen and (max-width: 600px) {
  .range_title {
    font-size: 13px;
  }
}

.slider_container {
  width: 100%;
  height: 100%;
  margin: 58px auto 8%;
  position: relative;
}

.mark_tip {
  position: absolute;
  display: inline-block;
  font-family: LIFEPLUS;
  font-size: 11px;
  font-weight: 200;
  color: #000000;
  transform: translate(-50%, 0px);
  top: 26px;
  width: 70px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .mark_tip {
    top: 26px;
  }
}

.mark_tip:before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  width: 1px;
  height: 14px;
  background: #a1a5b3;
}

.salarymarks_tips {
  width: 100%;
  height: 30px;
}

.salarymarks_tips .mark_tip:nth-of-type(1) {
  left: 35%;
}

.salarymarks_tips .mark_tip:nth-of-type(2) {
  left: 66%;
}

@media only screen and (max-width: 600px) {
  .salarymarks_tips .mark_tip:nth-of-type(1) {
    left: 33%;
  }
}

.depositmarks_tips {
  width: 100%;
  height: 30px;
}

.depositmarks_tips .mark_tip:nth-of-type(1) {
  left: 13px;
}

.depositmarks_tips .mark_tip:nth-of-type(2) {
  left: 108px;
}

.depositmarks_tips .mark_tip:nth-of-type(3) {
  left: 205px;
}

.depositmarks_tips .mark_tip:nth-of-type(4) {
  left: 302px;
}

.depositmarks_tips .mark_tip:nth-of-type(5) {
  left: 398px;
}

@media only screen and (max-width: 600px) {
  .depositmarks_tips .mark_tip:nth-of-type(1) {
    left: 13px;
  }
  .depositmarks_tips .mark_tip:nth-of-type(2) {
    left: 27%;
  }
  .depositmarks_tips .mark_tip:nth-of-type(3) {
    left: 50%;
  }
  .depositmarks_tips .mark_tip:nth-of-type(4) {
    left: 73%;
  }
  .depositmarks_tips .mark_tip:nth-of-type(5) {
    left: 95%;
  }
}

.__range-output-square {
  position: relative;
  background-color: #0b1a3c;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  transform: translate(-50%, 0%);
  left: 13px;
  font-family: LIFEPLUS;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.5;
}

.__range-output-square:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 11px solid #0b1a3c;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 99%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

.output-salary {
  position: absolute;
  top: -46px;
}

.output-deposit {
  position: absolute;
  top: -46px;
}

.slider {
  position: relative;
  z-index: 5;
  width: 100%;
  -webkit-appearance: none;
}

.slider:hover.slider::-webkit-slider-thumb {
  -webkit-box-shadow: 1px 1px 10px #000000;
  -moz-box-shadow: 1px 1px 10px #000000;
  box-shadow: 1px 1px 10px #000000;
}

.slider:hover.slider::-moz-slider-thumb {
  -webkit-box-shadow: 1px 1px 10px #000000;
  -moz-box-shadow: 1px 1px 10px #000000;
  box-shadow: 1px 1px 10px #000000;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: #fff;
  border: 2px solid #a1a5b3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -8px;
}

.slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: #fff;
  border: 2px solid #737373;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -8px;
}

.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  background: #a1a5b3;
  border: none;
  border-radius: 3px;
}

.slider::-moz-track {
  width: 100%;
  height: 10px;
  background: #a1a5b3;
  border: none;
  border-radius: 3px;
}

.slider::-ms-track {
  height: 5px;
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;
}

.slider::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #a1a5b3;
}

.contents_container {
  overflow: hidden;
}

.result-section-wrapper {
  width: 100%;
  height: 600px;
  position: relative;
  padding: 0;
}

.swiper-slide {
  background-color: #f0f0f0;
}

.result_wrapper {
  padding: 60px 40px 0;
}

@media only screen and (max-width: 600px) {
  .result_wrapper {
    padding: 60px 20px 0;
  }
}

.result_container {
  background: #0b1a3c;
  padding: 50px 20px;
  border-radius: 6px;
  font-family: LIFEPLUS;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #ffffff;
}

.result_container_active {
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#per_tax,
#tax_deduction_amt {
  color: #25AFBE;
}

.result_section p {
  color: #fff;
  font-size: 17px;
}

@media only screen and (max-width: 600px) {
  .result_section p {
    font-size: 16px;
  }
}

.result_section p span {
  font-weight: bold;
}

.result_section p strong {
  font-weight: bold;
  color: #25AFBE;
  letter-spacing: 2px;
}

.result_section:nth-child(1) {
  margin-bottom: 10px;
}

#per_tax {
  width: 28px;
  display: inline-block;
}

.result_section_tip {
  font-family: LIFEPLUS;
  font-size: 15px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: normal;
  color: #000000;
  margin: 20px 0 50px 0;
  padding: 16px 10px;
}

@keyframes slide-top {
  0% {
    transform: translateY(200px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#per_tax {
  margin: 3px;
}

.btn_confirm {
  width: 100%;
  height: 60px;
  background-color: #000000;
  font-family: LIFEPLUS;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 0;
}

.swiper-plus-slide {
  background: #f0f0f0;
  z-index: 2;
}

.plus_tip_container {
  width: 100%;
  padding: 60px 40px;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .plus_tip_container {
    padding: 60px 20px;
  }
}

.swiper-result-container {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  z-index: 2;
}

.swipe-direction {
  border: 0;
  background: transparent;
  font-family: LIFEPLUS;
  font-size: 11px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #000000;
  position: absolute;
  bottom: 30px;
}

.right-direction {
  right: 20px;
}

.left-direction {
  padding-left: 20px;
  float: left;
}

.result_txt {
  font-family: LIFEPLUS;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #000000;
  margin: 0;
}

table {
  margin: 0px 0 30px;
  border-collapse: collapse;
  font-family: LIFEPLUS;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: center;
  width: 100%;
}

table thead {
  background: #0b1a3c;
  color: #fff;
}

table tbody {
  background-color: #fff;
}

td,
th {
  padding: 12px 0;
  width: 25%;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
  vertical-align: middle;
}

th {
  font-weight: bold;
  font-size: 11px;
}

.table_caution {
  font-family: LIFEPLUS;
  font-size: 12px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  border: 1px solid #d9d9d9;
  padding: 12px 18px;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
}

.table_caution .caution_title {
  font-weight: bold;
  margin-bottom: 8px;
}

.table_caution .caution_section {
  color: #737373;
  font-weight: bold;
}

.table_caution .caution_section p {
  text-align: left;
}

.benefit_section {
  padding: 50px 40px;
  font-family: LIFEPLUS;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #000000;
  overflow: hidden;
  background-color: #fff;
}

@media only screen and (max-width: 600px) {
  .benefit_section {
    padding: 50px 20px;
  }
}

h3.subTitle {
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 30px;
}

p {
  text-align: center;
  line-height: 23px;
  color: #333;
}

p span {
  font-weight: bold;
}

p.basic-tip {
  text-align: left;
}

.square_wrapper {
  display: flex;
  margin: 35px auto 0px;
  margin-top: 50px;
  justify-items: center;
}

.square_wrapper .basic_square {
  width: 120px;
  height: 90px;
  border-radius: 6px;
  background-color: #0b1a3c;
  font-family: LIFEPLUS;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #ffffff;
  z-index: 3;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  position: relative;
}

.square_wrapper .add_square {
  height: 90px;
  border-radius: 6px;
  background-color: #25AFBE;
  font-family: LIFEPLUS;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  position: relative;
  left: -30%;
  opacity: 0;
  width: 0;
  left: 0;
  transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-delay: .3s;
}

.square_wrapper .add_square.active {
  opacity: 1;
  width: 100%;
  left: 0;
}

.square_tip {
  font-family: LIFEPLUS;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #737373;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  padding: 15px 0;
  opacity: 0;
  transition: all .5s ease-in-out;
  transition-delay: .8s;
}

.square_tip.active {
  opacity: 1;
}

.pine_section {
  padding: 50px 0;
  font-family: LIFEPLUS;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #000000;
  overflow: hidden;
  background-color: #f0f0f0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

#banner_swiper {
  height: 300px;
}

.pine-slider-wrapper {
  height: 220px;
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
}

.pine-slider-wrapper .bannerWrap {
  width: 1500px;
}

.pine-slider-wrapper .bannerWrap img {
  width: 200px;
  display: block;
  float: left;
  padding: 0 10px;
}

.swiper-banner-container {
  overflow: visible;
}

.swiper-banner-container .swiper-slide {
  width: 100px;
  height: 200px;
  background-size: cover;
  border-radius: 6px;
}

.background {
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  border-radius: 6px;
}

.swiper-banner-container .swiper-slide-active {
  width: 100%;
  height: 200px;
  transform: scale(1.2);
}

.swiper-slide-active .background {
  background-color: transparent;
  transform: scale(1.2);
}

:root {
  --swiper-theme-color: #000000;
}

.toggleBtnWrap {
  margin: 42px auto 80px;
  min-height: 300px;
  display: table;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.toggleBtnWrap .toggle-btn {
  width: 260px;
  padding: 30px 0;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  background: #25AFBE;
  overflow: hidden;
  cursor: pointer;
  transition: background .4s ease-out;
}

.toggleBtnWrap .toggle-btn.active {
  background-color: #0b1a3c;
}

.toggleBtnWrap .toggle-btn.active .round-btn {
  background: url(./assets/prevBtn.png) center center/100% no-repeat;
  left: 205px;
}

.toggleBtnWrap .toggle-btn .changeBtn {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
}

.toggleBtnWrap .toggle-btn .round-btn {
  width: 50px;
  height: 50px;
  background: url(./assets/nextBtn.png) center center/100% no-repeat;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s cubic-bezier(0.975, 0.02, 0.295, 1);
}

.toggleBtnWrap .toggle-btn .round-btn:before, .toggleBtnWrap .toggle-btn .round-btn:after {
  content: '채권형 펀드에 투자';
  display: block;
  position: absolute;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  top: 8px;
  right: 65px;
  width: 300px;
  text-align: right;
}

.toggleBtnWrap .toggle-btn .round-btn:after {
  content: '주식형 펀드에 투자';
  left: 68px;
  text-align: left;
}

.toggleBtnWrap .textWrap {
  position: relative;
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.toggleBtnWrap .textWrap .textBox {
  transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition-delay: .3s;
  position: absolute;
  left: 50%;
  width: 90%;
  transform: translate(-50%, 0);
  margin-top: 30px;
}

.toggleBtnWrap .textWrap .textBox p:nth-child(1) {
  margin-bottom: 10px;
}

.toggleBtnWrap .textWrap .textBox p:nth-child(1) span {
  font-weight: bold;
}

.toggleBtnWrap .textWrap .textBox:nth-child(1) {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}

.toggleBtnWrap .textWrap .textBox:nth-child(1) p {
  color: #25AFBE;
}

.toggleBtnWrap .textWrap .textBox:nth-child(2) {
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 70px);
}

.toggleBtnWrap .textWrap .textBox:nth-child(2):before {
  left: 70%;
}

.toggleBtnWrap .textWrap .textBox:nth-child(2) p {
  color: #0b1a3c;
}

.toggleBtnWrap .textWrap.active .textBox:nth-child(1) {
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 70px);
}

.toggleBtnWrap .textWrap.active .textBox:nth-child(2) {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}

.toggleBtnWrap h5 {
  text-align: left;
}

.graph_section {
  font-family: LIFEPLUS;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #000000;
  overflow: hidden;
  background-color: #fff;
}

.graph_description, .graph_description_360 {
  padding: 50px 28px 20px 28px;
}

.graph_description span, .graph_description_360 span {
  font-weight: bold;
}

.graph_description p:not(.graph_title) {
  margin: 0;
}

.graph_description_360 p:not(.graph_title_360) {
  margin: 0;
}

.graph_title, .graph_title_360 {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 20px;
}

#chart_div {
  width: 100%;
  height: 100%;
  /* display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; */
  margin: 0 auto;
  padding-bottom: 170px;
  /* padding: 50px 0; */
}

#line_chart {
  position: relative;
  height: 300px;
}

#line_chart div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}

.commend-fund {
  position: absolute;
  border: 1px solid #000;
  width: 44px;
  height: 37px;
  text-align: center;
  left: 56px;
  bottom: 215px;
  font-size: 12px;
  border-radius: 6px;
  color: #fff;
  background: #000;
  font-weight: bold;
}

.commend-fund:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid #000000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 105%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

.commend-fund-active {
  animation: blink-2 0.3s 3 both;
}

@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.6;
  }
}

.stock_card {
  /* border-radius: 10px; */
  border: 1px solid #666666;
  position: relative;
  width: 50px;
  height: atuo;
  text-align: center;
  /* bottom: 290px; */
  /* left: 95px; */
  animation: slide-tr 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.bond_card {
  position: absolute;
  border: 1px solid #000;
  width: 44px;
  height: 37px;
  text-align: center;
  font-size: 12px;
  border-radius: 6px;
  color: #fff;
  background: #000;
  font-weight: bold;
  opacity: 0;
}

.bond_card:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid #000000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 105%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

@keyframes slide-tr {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

.final_section {
  padding: 200px 0;
  overflow: hidden;
}

.stroke_link-active {
  animation-name: hvr-back-pulse;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333333 !important;
}

.stroke_link {
  border: 1px solid #000000;
  width: 200px;
  height: 200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: LIFEPLUS;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  /* transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    transition-duration: 0.5s;
    transition-property: color, background-color; */
}

.product_link {
  position: fixed;
  z-index: 9999;
  bottom: -100px;
  left: 0;
  right: 0;
  transition: bottom 0.25s;
  width: inherit;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 0;
}

.btn_link {
  position: relative;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #000000;
  font-family: LIFEPLUS;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 28px;
  border: 0;
  left: 0;
  right: 0;
}

.tip-375,
.tip-360,
.tip-412,
.graph_description_360,
.graph_title_360 {
  display: none;
}
