@charset "UTF-8";
:root {
  font-family: LIFEPLUSOTF;
  font-size: 16px;
  font-family: LIFEPLUS;
  background-color: #e7e7e7;
}

@media only screen and (max-width: 650px) {
  :root {
    background-color: #fff;
  }
}

@media only screen and (max-width: 360px) {
  :root {
    font-size: 14px;
  }
}

main {
  max-width: 650px;
  margin: 0 auto;
}

@media only screen and (max-width: 650px) {
  main {
    width: 100%;
  }
}

img {
  width: 100%;
}

.img_round {
  border-radius: 4px !important;
  border-color: #eee;
}

.title_wrap {
  margin: 0 auto;
}

.title_wrap h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
  color: #000000;
  text-align: center;
}

@media only screen and (max-width: 360px) {
  .title_wrap h1 {
    margin: 0 auto;
  }
}

.description {
  margin: 10% 0 1%;
}

@media only screen and (max-width: 650px) {
  .description {
    margin: 2rem 0;
  }
}

.description p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #666666;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 360px) {
  .description p {
    font-size: 0.8rem;
    padding: 0 1.5rem;
  }
}

.main_section {
  padding: 15% 20px 10%;
  margin: auto;
  background-color: #fff;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
}

@media only screen and (max-width: 650px) {
  .main_section .innerContWrap {
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 650px) and (max-width: 360px) {
  .main_section {
    padding: 0;
    padding-top: 70px;
  }
}

.range_container {
  padding: 5% 15% 6%;
}

@media only screen and (max-width: 650px) {
  .range_container {
    padding: 5% 15% 5%;
  }
}

@media only screen and (max-width: 360px) {
  .range_container {
    width: 65%;
    padding: 0 15%;
    margin: 0 auto;
  }
}

.range_title {
  font-size: 1.125rem;
  font-weight: bold;
  color: #000;
}

@media only screen and (max-width: 360px) {
  .range_title {
    font-size: 14px;
  }
}

.slider_container {
  width: 100%;
  height: 100%;
  margin: 54px auto 18px;
  position: relative;
}

.mark_tip {
  position: absolute;
  display: inline-block;
  font-size: 11px;
  font-weight: 200;
  color: #000000;
  transform: translate(-50%, 0px);
  top: 32px;
  width: 70px;
  text-align: center;
}

@media only screen and (max-width: 650px) {
  .mark_tip {
    top: 26px;
  }
}

.salarymarks_tips {
  width: 100%;
  height: 30px;
}

.salarymarks_tips .mark_tip:nth-of-type(1) {
  left: 35%;
}

.salarymarks_tips .mark_tip:nth-of-type(2) {
  left: 66%;
}

@media only screen and (max-width: 650px) {
  .salarymarks_tips .mark_tip:nth-of-type(1) {
    left: 33%;
  }
}

.depositmarks_tips {
  width: 65px;
  height: 30px;
}

.depositmarks_tips .mark_tip:nth-of-type(1) {
  left: 13px;
}

.depositmarks_tips .mark_tip:nth-of-type(2) {
  left: 176px;
}

.depositmarks_tips .mark_tip:nth-of-type(3) {
  left: 338px;
}

.depositmarks_tips .mark_tip:nth-of-type(4) {
  left: 493px;
}

@media only screen and (max-width: 650px) {
  .depositmarks_tips .mark_tip:nth-of-type(1) {
    left: 0;
  }
  .depositmarks_tips .mark_tip:nth-of-type(2) {
    left: 20%;
  }
  .depositmarks_tips .mark_tip:nth-of-type(3) {
    left: 40%;
  }
  .depositmarks_tips .mark_tip:nth-of-type(4) {
    left: 60%;
  }
  .depositmarks_tips .mark_tip:nth-of-type(5) {
    left: 80%;
  }
  .depositmarks_tips .mark_tip:nth-of-type(6) {
    left: 100%;
  }
}

.__range-output-square {
  position: absolute;
  top: -42px;
  left: 13px;
  background-color: #57b876;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  transform: translate(-50%, 0%);
  font-size: 11px;
  font-weight: bold;
  line-height: 1.5;
}

.__range-output-square:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 11px solid #57b876;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 99%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

.slider {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 8px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  outline: none;
  background: #888888;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #fff;
  border: 2px solid #888888;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -2px;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #fff;
  border: 2px solid #888888;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -2px;
}

.contents_container {
  overflow: hidden;
}

.result-section-wrapper {
  width: 100%;
  height: 600px;
  position: relative;
  padding: 0;
}

.swiper-slide {
  background-color: #f0f0f0;
}

.result_wrapper {
  padding: 60px 40px 0;
}

@media only screen and (max-width: 650px) {
  .result_wrapper {
    padding: 100px 20px 0;
  }
}

.result_container {
  background: #57b876;
  padding: 50px 20px;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.56;
  color: #ffffff;
}

#per_tax,
#tax_deduction_amt {
  color: #2d418a;
}

.result_section p {
  color: #fff;
  font-size: 1rem;
}

@media only screen and (max-width: 360px) {
  .result_section p {
    font-size: 1rem;
  }
}

.result_section p span {
  font-weight: bold;
}

.result_section p strong {
  font-weight: bold;
  color: #2d418a;
  letter-spacing: 2px;
}

.result_section:nth-child(1) {
  margin-bottom: 10px;
}

#per_tax {
  width: 28px;
  display: inline-block;
}

.result_section_tip {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.8;
  color: #000000;
  margin: 20px 0 50px 0;
  padding: 16px 10px;
}

@keyframes slide-top {
  0% {
    transform: translateY(200px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#per_tax {
  margin: 3px;
}

.btn_confirm {
  width: 100%;
  height: 60px;
  background-color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.56;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 0;
}

@media only screen and (max-width: 360px) {
  .btn_confirm {
    width: 80%;
  }
}

.swiper-plus-slide {
  background: #f0f0f0;
  z-index: 2;
}

.plus_tip_container {
  width: 100%;
  padding: 60px 40px;
  box-sizing: border-box;
}

@media only screen and (max-width: 650px) {
  .plus_tip_container {
    padding: 100px 20px;
  }
}

.swiper-result-container {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  z-index: 2;
}

.swipe-direction {
  border: 0;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.56;
  color: #000000;
  position: absolute;
  bottom: 30px;
}

.right-direction {
  right: 20px;
}

.left-direction {
  padding-left: 20px;
  float: left;
}

.result_txt {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.56;
  color: #000000;
  margin: 0;
}

table {
  margin: 0px 0 30px;
  border-collapse: collapse;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.56;
  text-align: center;
  width: 100%;
}

table thead {
  background: #57b876;
  color: #fff;
}

table tbody {
  background-color: #fff;
}

td,
th {
  padding: 12px 0;
  width: 25%;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
  vertical-align: middle;
}

th {
  font-weight: bold;
  font-size: 11px;
}

.table_caution {
  font-size: 12px;
  font-weight: 200;
  line-height: 1.56;
  border: 1px solid #d9d9d9;
  padding: 14px 0;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
}

.table_caution .caution_section {
  color: #737373;
  margin: 0;
}

.benefit_section {
  padding: 50px 40px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.56;
  color: #000000;
  overflow: hidden;
  background-color: #fff;
}

@media only screen and (max-width: 650px) {
  .benefit_section {
    padding: 50px 20px;
  }
}

h3.subTitle {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.5;
}

p {
  text-align: center;
  line-height: 23px;
  color: #333;
}

p span {
  font-weight: bold;
}

.square_wrapper {
  display: flex;
  margin: 35px auto 0px;
  margin-top: 50px;
  justify-items: center;
}

.square_wrapper .basic_square {
  width: 120px;
  height: 90px;
  border-radius: 6px;
  background-color: #57b876;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.56;
  color: #ffffff;
  z-index: 3;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  position: relative;
}

.square_wrapper .add_square {
  height: 90px;
  border-radius: 6px;
  background-color: #2d418a;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.56;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  position: relative;
  left: -30%;
  opacity: 0;
  width: 0;
  left: 0;
  transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-delay: 0.3s;
}

.square_wrapper .add_square.active {
  opacity: 1;
  width: 100%;
  left: 0;
}

.square_tip {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.56;
  color: #737373;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  padding: 15px 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.8s;
}

.square_tip.active {
  opacity: 1;
}

.pine_section {
  padding: 50px 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.56;
  color: #000000;
  overflow: hidden;
  background-color: #f0f0f0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

#banner_swiper {
  height: 300px;
}

.pine-slider-wrapper {
  height: 330px;
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
}

.pine-slider-wrapper .bannerWrap {
  width: 1200px;
}

.pine-slider-wrapper .bannerWrap img {
  width: 200px;
  display: block;
  float: left;
  padding: 0 10px;
}

.swiper-banner-container {
  overflow: visible;
}

.swiper-banner-container .swiper-slide {
  width: 100px;
  height: 200px;
  background-size: cover;
  border-radius: 6px;
}

.background {
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  border-radius: 6px;
}

.swiper-banner-container .swiper-slide-active {
  width: 100%;
  height: 200px;
  transform: scale(1.2);
}

.swiper-slide-active .background {
  background-color: transparent;
  transform: scale(1.2);
}

:root {
  --swiper-theme-color: #000000;
}

.toggleBtnWrap {
  margin: 42px auto 0px;
  display: table;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.toggleBtnWrap .toggle-btn {
  width: 80%;
  padding: 2rem 0;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  background: #57b876;
  overflow: hidden;
  cursor: pointer;
  transition: background 0.4s ease-out;
}

@media only screen and (max-width: 360px) {
  .toggleBtnWrap .toggle-btn {
    width: 90%;
  }
}

.toggleBtnWrap .toggle-btn.active {
  background-color: #2d418a;
}

.toggleBtnWrap .toggle-btn.active .round-btn {
  background: url(./assets/prevBtn.png) center center/100% no-repeat;
  left: 80%;
}

@media only screen and (max-width: 360px) {
  .toggleBtnWrap .toggle-btn.active .round-btn {
    left: 75%;
  }
}

.toggleBtnWrap .toggle-btn .changeBtn {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
}

.toggleBtnWrap .toggle-btn .round-btn {
  width: 50px;
  height: 50px;
  background: url(./assets/nextBtn.png) center center/100% no-repeat;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s cubic-bezier(0.975, 0.02, 0.295, 1);
}

.toggleBtnWrap .toggle-btn .round-btn:before, .toggleBtnWrap .toggle-btn .round-btn:after {
  content: "채권형 펀드에 투자";
  display: block;
  position: absolute;
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
  top: 8px;
  right: 65px;
  width: 300px;
  text-align: right;
}

.toggleBtnWrap .toggle-btn .round-btn:after {
  content: "주식형 펀드에 투자";
  left: 68px;
  text-align: left;
}

.toggleBtnWrap .textWrap {
  position: relative;
  width: 100%;
  height: 195px;
  overflow: hidden;
}

.toggleBtnWrap .textWrap .textBox {
  transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition-delay: 0.3s;
  position: absolute;
  left: 50%;
  width: 90%;
  transform: translate(-50%, 0);
  margin-top: 30px;
}

.toggleBtnWrap .textWrap .textBox p:nth-child(1) {
  margin-bottom: 10px;
}

.toggleBtnWrap .textWrap .textBox p:nth-child(1) span {
  font-weight: bold;
}

.toggleBtnWrap .textWrap .textBox:nth-child(1) {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}

.toggleBtnWrap .textWrap .textBox:nth-child(1) p {
  color: #57b876;
}

.toggleBtnWrap .textWrap .textBox:nth-child(2) {
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 70px);
}

.toggleBtnWrap .textWrap .textBox:nth-child(2):before {
  left: 70%;
}

.toggleBtnWrap .textWrap .textBox:nth-child(2) p {
  color: #2d418a;
}

.toggleBtnWrap .textWrap.active .textBox:nth-child(1) {
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 70px);
}

.toggleBtnWrap .textWrap.active .textBox:nth-child(2) {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}

.toggleBtnWrap h5 {
  text-align: left;
}

.graph_section {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.56;
  color: #000000;
  overflow: hidden;
  background-color: #fff;
}

.graph_description,
.graph_description_360 {
  padding: 50px 28px 20px 28px;
}

.graph_description span,
.graph_description_360 span {
  font-weight: bold;
}

.graph_description p:not(.graph_title) {
  margin: 0;
}

.graph_description_360 p:not(.graph_title_360) {
  margin: 0;
}

.graph_title,
.graph_title_360 {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 20px;
}

#chart_div {
  width: 100%;
  height: 100%;
  /* display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; */
  margin: 0 auto;
  padding-bottom: 170px;
  /* padding: 50px 0; */
}

#line_chart {
  position: relative;
  height: 300px;
}

#line_chart div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}

.commend-fund {
  position: absolute;
  border: 1px solid #000;
  width: 44px;
  height: 37px;
  text-align: center;
  left: 56px;
  bottom: 215px;
  font-size: 12px;
  border-radius: 6px;
  color: #fff;
  background: #000;
  font-weight: bold;
}

.commend-fund:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid #000000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 105%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

.commend-fund-active {
  animation: blink-2 0.3s 3 both;
}

@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.6;
  }
}

.stock_card {
  /* border-radius: 10px; */
  border: 1px solid #666666;
  position: relative;
  width: 50px;
  height: atuo;
  text-align: center;
  /* bottom: 290px; */
  /* left: 95px; */
  animation: slide-tr 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.bond_card {
  position: absolute;
  border: 1px solid #000;
  width: 44px;
  height: 37px;
  text-align: center;
  font-size: 12px;
  border-radius: 6px;
  color: #fff;
  background: #000;
  font-weight: bold;
  opacity: 0;
}

.bond_card:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid #000000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 105%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

@keyframes slide-tr {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

.final_section {
  padding: 200px 0;
  overflow: hidden;
}

.stroke_link-active {
  animation-name: hvr-back-pulse;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333333 !important;
}

.stroke_link {
  border: 1px solid #000000;
  width: 200px;
  height: 200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #000;
  /* transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    transition-duration: 0.5s;
    transition-property: color, background-color; */
}

.product_link {
  width: inherit;
  background-color: #fff;
  padding: 0 40px 25px;
  box-sizing: border-box;
}

.product_link .btn_link {
  position: relative;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.56;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio_container {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 650px) {
  .radio_container {
    display: block;
    text-align: center;
    font-size: 0.9rem;
    margin: 1rem auto 2rem;
  }
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid #dddddd;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
  top: 4px;
}

input[type="radio"]:checked {
  border: 4px solid white;
  background-color: black;
  outline: 1px solid #dddddd;
}
