* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none; /* Safari Touch */
  -webkit-user-select: none; /* Webkit */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Edge*/
  user-select: none; /* Future-proof*/
  -webkit-user-drag: none;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #252629;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #252629;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

div,
img {
  border: 0px white solid;
}

.img_frame {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}

.content-wrapper {
  position: absolute;
  width: 100%;
  height: auto;
  top: 70px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  margin-top: 0;
}

.fund1_startBtn {
  width: 67%;
  height: 12%;
  margin: auto;
  margin-top: 85%;
  background: url("assets/cast_special_fund1_start1.png") no-repeat;
  background-size: contain;
  animation-name: ani-fund1_startBtn;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes ani-fund1_startBtn {
  0% {
    background: url("assets/cast_special_fund1_start1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  100% {
    background: url("assets/cast_special_fund1_start2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.fund1_startBtn_active {
  transform: scale(0.9, 0.9);
}

.fund1_img_bg {
  position: absolute;
  height: 100%;
  left: -20%;
  right: 0;
  animation-name: ani_fund1_img_bg;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes ani_fund1_img_bg {
  0% {
    transform: translate(1%, 0);
  }
  50% {
    transform: translate(-1%, 0);
  }
  100% {
    transform: translate(1%, 0);
  }
}

.main_title {
  width: 79%;
  height: auto;
  margin-top: 70px;
}

.sel_mode_bg {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.sel_mode_txt {
  width: 46%;
  height: auto;
  left: 0;
  right: 0;
  margin-top: 28%;
}

.sel_mode_box1 {
  width: 88%;
  height: auto;
  margin-top: 20%;
}

.sel_mode_box2 {
  width: 88%;
  height: auto;
  margin-top: 5%;
}

.game_bg {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.mode_text {
  width: 47%;
  height: auto;
  margin-top: 45px;
}

.fund4_2_text {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: -20%;
  display: block;
}

.fund2_box1_active {
  content: url("assets/cast_special_fund2_box1-2.png");
  transform: scale(0.95, 0.95);
}

.fund2_box2_active {
  content: url("assets/cast_special_fund2_box2-2.png");
  transform: scale(0.95, 0.95);
}

.fund3_game {
  position: absolute;
  width: 79%;
  height: auto;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 5%;
}

.game_overay_back {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: #000;
  opacity: 0.3;
  z-index: 3;
  padding: 0;
  margin: 0;
}

.game_video {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.btn_game {
  position: absolute;
  z-index: 1;
  width: 20%;
  height: auto;
  bottom: 7%;
  right: 7%;
}

.img_arrow {
  position: absolute;
  z-index: 1;
  width: 15%;
  height: auto;
  right: 9.5%;
  bottom: -11%;
  animation: ani_fund3_arrow 1s ease-in-out infinite;
}

.fund3_game_bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: calc(808px / 1);
  top: calc((163px + 45px + 46px) / 1);
  background-image: url("assets/cast_special_fund3_game.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.fund3_game_ani {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: calc(808px / 1);
  top: calc((163px + 45px + 46px) / 1);
}

.fund3_button_active {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  transition-duration: 1s;
}
.fund4_button_active {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  transition-duration: 1s;
}

.d-none {
  display: none;
}

.fund_result_animation {
  animation-name: ani_fund_result;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes ani_fund_result {
  0% {
    content: url("assets/cast_special_fund3_result.png");
  }
  100% {
    content: url("assets/cast_special_fund3_result2.png");
  }
}

.fund3_result {
  z-index: 1;
  width: 80%;
  height: auto;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 149%;
}

.fund3_result:active,
.fund4_2_result:active {
  transform: scale(0.95, 0.95);
}

.fund4_replay {
  width: 19%;
  height: auto;
  position: absolute;
  top: 58%;
  left: 41%;
}

.fund4_replay:active {
  transform: scale(0.95, 0.95);
}

.fund4_2_result {
  width: 80%;
  height: auto;
  position: absolute;
  top: 78%;
  left: 10%;
}

.d-none {
  display: none;
}

.heart_active,
.heart_white_active {
  content: url("../common/assets/card_foot_heart_fill.png");
}

.img_heart {
  width: 50%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: calc(env(safe-area-inset-bottom) + 30px);
  padding-bottom: calc(constant(safe-area-inset-bottom) + 30px);
}

.img_share {
  width: 50%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding-bottom: calc(env(safe-area-inset-bottom) + 30px);
  padding-bottom: calc(constant(safe-area-inset-bottom) + 30px);
}

@keyframes ani_fund3_arrow {
  0% {
    transform: translate(0, -10px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -10px);
  }
}

.sound_on {
  content: url("assets/sound_on.svg");
}

.sound_on_off {
  position: absolute;
  z-index: 1;
  width: 6%;
  height: auto;
  right: 10%;
  margin-top: 45px;
}

.sound_on_off:active {
  transform: scale(0.95, 0.95);
}

@media (min-aspect-ratio: 200/500) {
  .content-wrapper {
    width: 100%;
  }
}

@media (min-aspect-ratio: 250/500) {
  .content-wrapper {
    width: 100%;
  }

  .samo-wrapper,
  .gongmo-wrapper {
    margin-top: 5%;
  }

  .fund3_result {
    margin-top: 118% !important;
  }

  .fund4_replay {
    top: 65% !important;
  }

  .mode_text {
    margin-top: 5px;
  }

  .sound_on_off {
    margin-top: 15%;
  }
}

@media (min-aspect-ratio: 300/500) {
  .content-wrapper {
    width: 90%;
    margin-top: 0%;
  }
}

@media (min-aspect-ratio: 330/500) {
  .content-wrapper {
    width: 80%;
    margin-top: 0%;
  }
}

@media (min-aspect-ratio: 370/500) {
  .content-wrapper {
    width: 70%;
    margin-top: 0%;
  }
}

@media (min-aspect-ratio: 430/500) {
  .content-wrapper {
    width: 60%;
    margin-top: 0%;
  }
}

@media (min-aspect-ratio: 500/500) {
  .content-wrapper {
    width: 50%;
    margin-top: 0%;
  }
}

@media (orientation: landscape) {
  .content-wrapper {
    width: 40%;
    margin-top: 0;
  }
}

@media (min-width: 600px) {
  .swiper-container {
    width: 375px;
    height: 812px;
  }
  .content-wrapper {
    width: 100%;
    margin-top: 20%;
  }

  .samo-wrapper,
  .gongmo-wrapper {
    margin-top: 30%;
  }
}

.title-bar {
  width: 100%;
  height: 70px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.title-bar img {
  width: 34px;
  height: 100%;
  padding: 0 17px;
}
